/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-white selection:bg-black selection:text-white;
}

html {
  @apply scroll-smooth !important;
}

.dark {
  @apply selection:bg-off-white selection:text-black;
}

.grain:after {
  @apply pointer-events-none;
  content:" ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  opacity: 0.225;
	background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");

}

.font-mono {
  @apply tracking-tight;
}