/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-sans antialiased text-off-black selection:bg-off-black selection:text-white bg-zinc-100;
  overscroll-behavior: none!important;
  overflow-y:scroll !important;
}

html {
  @apply scroll-smooth !important;
}

.bg-off-white {
  @apply selection:bg-off-black selection:text-off-white;
}

.bg-black {
  @apply selection:bg-off-white selection:text-black;
}


.grainn {
@apply fixed inset-0 w-full h-full overflow-hidden z-[99999] opacity-[0.04] bg-repeat pointer-events-none;
  background-image: url("/images/grain.gif");
  background-position: 50% 50%;
  background-size: 480px;
}

.grain:after {
  @apply pointer-events-none;
  content:" ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  opacity: 0.43;
	background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");

}

.font-mono {
  @apply tracking-tight;
}

.overflow-y-scroll::-webkit-scrollbar {
  @apply hidden;
}

.overflow-x-scroll::-webkit-scrollbar {
  @apply hidden;
}

.inner-shadow {
  box-shadow: inset 0 0 5vw rgba(0,0,0, 0.5);
}

.camera-focus-hover {
  &:hover {
    .camera-focus-hover--image {
      animation-play-state: running;
      animation-fill-mode: forwards;
    }

    .camera-focus-hover--image--back {
      animation-play-state: running;
      animation-fill-mode: forwards;
      animation-delay: 0.2s;
    }
  }
}

.camera-focus-hover--image {
  animation: cameraFocus 0.2s ease-in-out;
  animation-fill-mode: unset;
  animation-play-state: paused; 
}

.camera-focus-hover--image--back {
  animation: cameraFocusBack 0.5s ease-in-out;
  animation-fill-mode: unset;
  animation-play-state: paused; 

  filter: blur(5px);
  transform: scale(1.04);
}

@keyframes cameraFocus {
  0%  {
    filter: blur(0px);
    transform: scale(1);
  }
  100% {
    filter: blur(5px);
    transform: scale(1.04);
  }
}

@keyframes cameraFocusBack {
  0%  {
    filter: blur(5px);
    transform: scale(1.04);
  }
  25% {
    filter: blur(2px);
    transform: scale(1.08);
  }
  50% {
    filter: blur(7px);
    transform: scale(1.06);
  }
  100% {
    filter: blur(0px);
    transform: scale(1);
  }
}

.animate-blink {
  animation: opacityDouble 0.65s steps(1) infinite;
}

@keyframes opacityDouble {
  0% {@apply opacity-100;}
  25% {@apply opacity-0;}
  50% {@apply opacity-100;}
  75% {@apply opacity-0;}
  100% {@apply opacity-100;}
}

.cover-image {
  img {
    @apply object-cover object-center;
  }
}



.parallax {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
}

@supports  (height: 100dvh) {
  .h-screen {
    height: 100dvh;
  }
  .min-h-screen {
    min-height: 100dvh;
  }
}


img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}