/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-white selection:bg-black selection:text-white;
}