/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-white selection:bg-black selection:text-white;
}

html {
  @apply scroll-smooth !important;
}

.bg-off-white {
  @apply selection:bg-black selection:text-off-white;
}

.bg-black {
  @apply selection:bg-off-white selection:text-black;
}

.grain:after {
  @apply pointer-events-none;
  content:" ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  opacity: 0.43;
	background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");

}

.font-mono {
  @apply tracking-tight;
}

.overflow-y-scroll::-webkit-scrollbar {
  @apply hidden;
}

.inner-shadow {
  box-shadow: inset 0 0 5vw rgba(0,0,0, 0.5);
}

.camera-focus-hover {
  &:hover {
    .camera-focus-hover--image {
      animation-play-state: running;
      animation-fill-mode: forwards;
    }
  }
}

.camera-focus-hover--image {
  animation: cameraFocus 0.66s ease-in-out;
  animation-fill-mode: unset;
  animation-play-state: paused; 
}

@keyframes cameraFocus {
  0%  {
    filter: blur(8px);
    transform: scale(1.015);
  }
  25% {
    filter: blur(2px);
    transform: scale(1.08);
  }
  50% {
    filter: blur(5px);
    transform: scale(1.04);
  }
  100% {
    filter: blur(0px);
    transform: scale(1);
  }
}